<!DOCTYPE html>


<% include partials/head %>


<body>
    <% include partials/header %>
  
       <div class="container">
            <div class="row">
                <div class="col s12 m6">

                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="imagenes/oficina-tecnica2.jpg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
            
                </div>
            
                <div class="col s12 m6">

                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="imagenes/oficina_tecnica.jpg">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                
                    </div>
            </div>  
            <div class="row">

                    <div class="col s12 m6">
                        <h2 class="header white-text">Horizontal Card</h2>
                        <div class="card horizontal">
                        <div class="card-image">
                            <img src="imagenes/index.jpeg">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                            <div class="card-action">
                            <a href="#">This is a link</a>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                            <h2 class="header white-text">Horizontal Card</h2>
                            <div class="card horizontal">
                            <div class="card-image">
                                <img src="imagenes/oficina-tecnica3.jpg">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                                </div>
                                <div class="card-action">
                                <a href="#">This is a link</a>
                                </div>
                            </div>
                            </div>
                        </div>
                
            
            </div>

       </div>
       
            
</body>
<div id="pie" class="valign-wrapper center-align" style="position: relative">
        <h5>(c)miapp.com</h5>
        
        </div>
        <script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
$('.sidenav').sidenav();
});
  


</script>       

</html>

